:root {
  --primary-color: #50b3ba;
  --primary-color-2: #e0f7f5;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.main-text-color {
  color: var(--primary-color);
  text-decoration: none;
  text-align: center;
}
.main-text-color-with-decoration {
  color: var(--primary-color);
  font-weight: 500;
}
.main-btn {
  width: 100%;
  padding: 12px 12px;
  background-color: var(--primary-color);
  outline: none;
  border: none;
  font-size: 1rem;
  color: white;
  border-radius: 6px;
  margin: 8px;
}
.second-btn {
  width: 100%;
  padding: 12px 12px;
  background-color: rgb(62, 163, 76);
  outline: none;
  border: none;
  font-size: 1rem;
  color: white;
  border-radius: 6px;
  margin: 8px;
}
.third-btn {
  width: 100%;
  padding: 12px 12px;
  background-color: rgb(201, 61, 61);
  outline: none;
  border: none;
  font-size: 1rem;
  color: white;
  border-radius: 6px;
  margin: 8px;
}

.success-message {
  background-color: rgb(62, 163, 76);
  color: white;
  border-radius: 16px;
  padding: 32px 16px;
  margin: 16px 64px;
}

.input-field {
  width: 100%;
  outline: none;
  border-radius: 6px;
  border: none;
  background-color: white;
  padding: 12px;
  box-shadow: 0px 6px 12px rgba(100, 100, 100, 0.2);
}
.radio-group {
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  border-radius: 6px;
  border: none;
  background-color: white;
  height: 100%;
  padding: 10px;
  box-shadow: 0px 6px 12px rgba(100, 100, 100, 0.2);
}
.form-container {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
textarea {
  resize: vertical;
}
ul {
  list-style: none;
}
.container {
  padding: 16px 64px;
}
body {
  background-color: #f1f1f1;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  cursor: pointer;
}
b {
  color: var(--primary-color);
}
/* /////////////// header section ///////////////// */
header {
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-color-2);
  align-items: center;
  color: var(--primary-color);
  padding: 16px 64px;
}
nav {
  display: flex;
  align-items: center;
  gap: 24px;
}
.icon {
  width: 35px;
  height: 35px;
}
.sign-in-wrapper {
  display: flex;
  gap: 8px;
  align-items: center;
}
.header-list {
  display: flex;
  gap: 24px;
  align-items: center;
}
.person-item {
  position: relative;
}
.person-item:hover .personal-list {
  opacity: 1;
  visibility: visible;
}
.personal-list {
  position: absolute;
  top: 50px;
  padding: 8px 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  opacity: 0;
  visibility: hidden;
  z-index: 10;
  box-shadow: 6px 12px 25px rgba(200, 200, 200, 0.2);
  background-color: var(--primary-color-2);
}

.responsive-links {
  flex-direction: column;
  gap: 16px;
  width: 100%;
  display: none;
  height: 0;
  overflow: hidden;
}
.responsive-links.active {
  margin: 16px 0;
  height: auto;
}
.responsive-header-els {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  display: none;
}

.menu-icon {
  display: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  header {
    padding: 16px 16px;
    flex-direction: column;
    align-items: start;
  }
  nav,
  .header-logo,
  .header-list-wrapper-NO {
    display: none !important;
  }
  .responsive-header-els,
  .responsive-links {
    display: flex;
  }
  .menu-icon {
    display: block;
  }
  .personal-list {
    padding: 8px 12px;
  }
}

.main-wrapper {
  display: flex;
  flex-direction: row;
  min-height: 88.3vh;
}
.main-content {
  background-color: #f6f6f6;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  flex-direction: column;
}
.content-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content-logo > span:nth-child(2) {
  font-size: 3rem;
  font-weight: 500;
  color: var(--primary-color);
}
.main-content > p {
  color: #999;
  text-align: center;
  width: 70%;
}
.main-img {
  background-image: url("../assets/pexels-antoni-shkraba-5214958.jpg");
  background-size: 100% 120%;
  background-repeat: no-repeat;
  position: relative;
  flex: 1;
}
.overflow {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.6);
}

@media (max-width: 768px) {
  .main-wrapper {
    flex-direction: column;
    min-height: 120vh;
  }
  .main-img {
    flex: 3;
  }
}

/* ///////////////////// */
.speialities-wrapper {
  display: flex;
  gap: 16px 32px;
  width: 100%;
  margin: 32px 0;
  justify-content: center;
  flex-wrap: wrap;
}
.speciality {
  background-color: white;
  box-shadow: 0px 6px 12px rgba(100, 100, 100, 0.2);
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
}

/* ///////////////////// */
.doctors-container {
  background-color: #f1f1f1;
}
.doctors-wrapper {
  display: flex;
  gap: 120px 32px;
  width: 100%;
  margin: 120px 0;
  justify-content: center;
  flex-wrap: wrap;
}
.doctor {
  box-shadow: 0px 6px 12px rgba(100, 100, 100, 0.2);
  width: 300px;
  padding: 6px 12px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  background-color: white;
  gap: 16px;
  position: relative;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
}
.doctor-icon {
  position: absolute;
  top: -50%;
}
.doctor-icon .icon {
  width: 220px;
  height: 220px;
}
.doctor-content {
  margin-top: 70px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: center;
}
.doctor-content > p {
  text-align: center;
}
.active-status {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.active-status .online {
  width: 15px;
  height: 15px;
  background-color: rgb(61, 201, 80);
  border-radius: 50%;
}
.active-status .offline {
  width: 15px;
  height: 15px;
  background-color: rgb(201, 61, 61);
  border-radius: 50%;
}
.doctor-btn {
  background-color: rgb(62, 163, 76);
  border: none;
  outline: none;
  padding: 6px 8px;
  border-radius: 4px;
  color: white;
}
.doctor-btn:nth-child(2) {
  background-color: var(--primary-color);
}

.doctor-info {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 32px 0;
}
.doctor-info div {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin-top: 32px;
  gap: 32px 16px;
}

.table-responsive {
  overflow-x: auto;
  margin: 32px 0;
}
.table {
  margin: 0 auto;
  width: 100%;
}
table,
td,
th {
  border-bottom: 1px solid #444;
  border-collapse: collapse;
}
th,
td {
  padding: 8px 16px;
}

.table-head {
  background-color: var(--primary-color-2);
  color: var(--primary-color);
}

.complaints-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 768px) {
  .container {
    padding: 16px 12px;
  }
}

/* /////////////////////////////////// */

.main-page-wrapper {
  display: flex;
  min-height: 88.5vh;
}
.select-person {
  flex: 1;
  overflow-y: auto;
  padding: 16px;
  max-height: 88.5vh;
  min-height: 88.5vh;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: var(--primary-color-2);
}
.chat-page {
  flex: 3;
  max-height: 88.5vh;
  min-height: 88.5vh;
  overflow: hidden;
}
.chat-user-btn {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  border-radius: 8px;
  text-decoration: none;
  color: white;
  padding: 12px 16px;
}

.online {
  width: 10px;
  height: 10px;
  background-color: rgb(116, 233, 132);
  border-radius: 50%;
}
.offline {
  width: 10px;
  height: 10px;
  background-color: rgb(233, 116, 116);
  border-radius: 50%;
}
